@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";


@theme {
  --font-inter: 'Inter', sans-serif;
  --color-primary: #1e2128;
  --color-background: #f2f3f8;
  --color-white: #ffffff;
  --color-muted: #999da8;
  --color-dark-text: #2e2f35;
  --color-border-light: #d8d9df;
}

body {
  font-family: var(--font-inter);
  background-color: var(--color-background);
  color: var(--color-dark-text);
}
